.calculadora{
    background-color: #EDDAD9;
    padding: 10px;
    border: 2px solid #ebc3c1;
    width: 300px;
    height: 500px;
    margin: auto;
}

.calculadora p{
    font-size: 1.5em;
    border: 1px solid #726e6e;
    background-color: aliceblue;
    width: 290px;
    padding: 7px 0px 7px 3px;
    margin: 10px 0px 15px 0px;
    
}

.botao{
    width: 70px;
    height: 70px;
    border: 1px solid  #EDDAD9;
    font-size: 20px;
    font-weight: bold;
}

.botao:hover{
    background-color:#ebc3c1 ;
}

#igual{
    width: 143px;
}